
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: -webkit-fill-available !important;
}

:root {
  --fontFamily: 'Roboto';
  --labelColor: #bbb;
  --disableColor: #ddd;
  --toggleColor: #2f855a;
  --whiteColor: #fff;
  --focusColor: #ff0;
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: 'Roboto';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  background-color: white;
  min-height: 100vh !important;
  min-height: -webkit-fill-available !important;
  display: flex;
  justify-content: center;
  align-items: center;
}

.MuiDialog-root {
  z-index: 90000 !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.MuiIconButton-root:hover {
  background-color: rgba(96, 110, 234, 0.1) !important;
}

.MuiPickersDay-daySelected {
  border-radius: 12px;
  background-color: #606eea;
  color: white;
  font-size: 18px;
  font-weight: 700;
}

.MuiTypography-body2 {
  font-weight: 700;
  font-family: 'Roboto';
  font-size: 16px;
  color: black;
}

.MuiPickersDay-daySelected .MuiTypography-body2 {
  color: white;
}

.MuiPopover-paper {
  border-radius: 12px;
}

.MuiStepLabel-iconContainer {
  padding-right: 0px;
}

.MuiStepConnector-lineHorizontal {
  border-top-width: 3px;
}

.MuiStepIcon-root.MuiStepIcon-active {
  color: #606eea;
}

.MuiListItem-root.Mui-selected,
.MuiListItem-root.Mui-selected:hover {
  background-color: white;
}

.ymaps-2-1-79-inner-panes {
  border-radius: 14px !important;
}

/* Toggle switch */

.toggle-switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 25px;
  
}
@media only screen and (max-width: 600px) {
  .toggle-switch{
    position: relative;
    display: inline-block;
    width: 38px;
    height: 19px;
  }
  .toggle-switch .switch {
    top: 1px !important;

  }
  .toggle-switch .switch::before {
    width: 15px !important;
    height: 15px !important; 
    left: 0px !important;
    top: 2px !important;
  }

}


.toggle-switch input[type='checkbox'] {
  display: none;
}

.toggle-switch .switch {
  position: absolute;
  cursor: pointer;
  background-color: #c4c4c4;
  border-radius: 25px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transition: background-color 0.2s ease;
}

.toggle-switch .switch::before {
  position: absolute;
  content: '';
  left: 2px;
  top: 2px;
  width: 21px;
  height: 21px;
  background-color: #fff;
  border-radius: 50%;
  transition: transform 0.3s ease;
}

.toggle-switch input[type='checkbox']:checked + .switch::before {
  transform: translateX(25px);
  background-color: #fff;
}

.toggle-switch input[type='checkbox']:checked + .switch {
  background-color: #3492ff;
}

.rmdp-day.rmdp-today span,
.rmdp-range {
  background-color: #606eea !important;
}

.rmdp-day span {
  border-radius: 10px !important;
}

.rmdp-week .rmdp-day:first-child .sd {
  color: #ff4a55 !important;
  font-weight: 500 !important;
}

.rmdp-week-day {
  color: #a5a5a5 !important;
}

.rmdp-header-values span {
  color: #223367 !important;
  font-weight: 500 !important;
}
